<!DOCTYPE html>
<html>

  {% include head.html %}
   
  <body id="cover">
    <div class="loader"></div>

    <div id="headline"></div>
    
    {% include header.html %}

    <div class="page-content" id="about-block">
    <div class="wrapper">
      <a class="anchor" id="about">About</a>
      <div class="post">
        <header class="post-header">
           <h1 class="post-title">About</h1>
        </header>
 
        <article class="post-content">
        We are a systems genetics and synthetic biology group interested in repurposing model organisms by studying human genes in yeast and other simplified cells. Our laboratory will aim to engineer human biological processes in simplified cells to study disease and evolution.  
        </article>
      </div>

    </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
